
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins';
}
::-webkit-scrollbar {
  width: 10px;
  display: none;
}

.header{
  z-index: 1000;
}
@media (min-width: 600px) and (max-width: 1200px){
	::-webkit-scrollbar {
    width: 8px;
    display: block;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }   
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}